/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * KiriaiTheDuel implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * kiriaitheduel.css
 *
 * KiriaiTheDuel stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (kiriaitheduel_kiriaitheduel.tpl), and to HTML elements you create dynamically
    (in kiriaitheduel.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.cardontable {
    position: absolute;
    width: 185px;
    height: 270px;
    background-image: url('img/placeholderCards.jpg');
	z-index: 1;
}

#cardontable_1 {
	background-position-x: -0px;
}

#cardontable_2 {
	background-position-x: -185px;
}

#cardontable_3 {
	background-position-x: -370px;
}

#cardontable_4 {
	background-position-x: -555px;
}

#cardontable_5 {
	background-position-x: -740px;
}

#cardontable_6 {
	background-position-x: -925px;
}

#cardontable_7 {
	background-position-x: -1110px;
}

#cardontable_8 {
	background-position-x: -1295px;
}

#cardontable_9 {
	background-position-x: -1480px;
}

#cardontable_10 {
	background-position-x: -1665px;
}

#cardontable_11 {
	background-position-x: -1850px;
}

#cardontable_12 {
	background-position-x: -2035px;
}

#cardontable_13 {
	background-position-x: -2220px;
}

#cardontable_97, #cardontable_98, #cardontable_99 {
	background-position-x: -2405px;
}

#standard_battlefield {
	padding: 100px 50px;
}

.field_position {
	position: relative;
	width: 590px;
	height: 75px;
}

.red_field_position {
	position: absolute;
	left: 0;
	top: 7px;
	width: 270px;
}

.blue_field_position {
	position: absolute;
	top: 68px;
	right: 0;
	width: 270px;
}

.field_position::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	height: 25px;
	background-color: black;
	transform: translate(-50%, -50%);
}

.samurai_card {
	position: absolute;
	background-image: url('img/placeholder_SamuraiCards.jpg'); 
	width: 185px;
	height: 270px;
	z-index: 1;
}

#red_samurai {
	background-position-x: -0px;
}

#blue_samurai {
	background-position-x: -185px;
}

.heaven_stance {
	/* Rotate the image 45 deg counter clockwise */
	transform: rotate(-45deg);
}

.earth_stance {
	/* Rotate the image 135 deg clockwise */
	transform: rotate(135deg);
}

.topPicked {
	position: relative;
}

.topPicked::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 33%; /* Adjust this to control the height of the tint */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), transparent); /* Adjust colors and opacity as needed */
}

.bottomPicked {
	position: relative;
}

.bottomPicked::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 33%; /* Adjust this to control the height of the tint */
	background: linear-gradient(to top, rgba(255, 255, 255, 0.7), transparent); /* Adjust colors and opacity as needed */
}

.cardrow {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cardslot {
	position: relative;
	width: 190px;
	height: 275px;
	background-color: white;
}