@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * KiriaiTheDuel implementation : © Nevin Foster nevin.foster2@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
#overall-content {
  background-color: #313433;
}

#game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  user-select: none;
  aspect-ratio: 1110/810;
  max-height: calc(100vh - 150px);
  margin: 10px auto;
  overflow: hidden;
}

#play-area {
  flex: 2;
  width: 100%;
  position: relative;
}

#hands {
  flex: 1;
  width: 100%;
  position: relative;
}

.hand-area {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 90%;
}

#opponent-area {
  transform: translate(0, 110%);
  transition: 500ms;
}

.show-opponent-area #opponent-area {
  transform: translate(0%, 0%);
}

.hand-area > div {
  position: relative;
}

/* #endregion */
/* #region Cards */
.cardslot {
  position: absolute;
  overflow: hidden;
  aspect-ratio: 185/270;
  pointer-events: all;
}

.cardslot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  transition: 100ms;
}

.cardslot > img, .cardslot > object, .tooltip-img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cardslot:hover::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.highlight::after {
  background-color: slategray;
  cursor: pointer;
}

/* #endregion */
/* #region Tooltips */
.tooltip-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tooltip-container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tooltip-tag {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.tooltip-type-move {
  background-color: #3c94bf;
}

.tooltip-type-attack {
  background-color: #bf3c3c;
}

.tooltip-type-special {
  background-color: #bfb63c;
}

.tooltip-desc {
  text-align: center;
}

.tooltip-img {
  position: relative;
  overflow: hidden;
  width: 75px;
  aspect-ratio: 0.6428571429;
}

.hand-icons, .hand-icons > img {
  position: absolute;
}

#play-area .cardslot {
  height: 50%;
}

#player_played_0 {
  top: 0;
  right: 0;
}

#player_played_1 {
  bottom: 0;
  right: 0;
}

#opponent_played_0 {
  top: 0;
  left: 0;
}

#opponent_played_1 {
  bottom: 0;
  left: 0;
}

.battlefield_position, #battlefield {
  position: absolute;
  inset: 0;
  margin: auto;
}

.standard-battlefield #battlefield_position_1 {
  top: 75.632%;
}

.standard-battlefield #battlefield_position_2 {
  top: 62.827%;
}

.standard-battlefield #battlefield_position_3 {
  top: 50%;
}

.standard-battlefield #battlefield_position_4 {
  top: 37.216%;
}

.standard-battlefield #battlefield_position_5 {
  top: 24.418%;
}

.advanced-battlefield #battlefield_position_1 {
  top: 88.372%;
}

.advanced-battlefield #battlefield_position_2 {
  top: 75.557%;
}

.advanced-battlefield #battlefield_position_3 {
  top: 62.773%;
}

.advanced-battlefield #battlefield_position_4 {
  top: 50%;
}

.advanced-battlefield #battlefield_position_5 {
  top: 37.175%;
}

.advanced-battlefield #battlefield_position_6 {
  top: 24.376%;
}

.advanced-battlefield #battlefield_position_7 {
  top: 11.577%;
}

.player-heaven #player_samurai {
  transform: translate(83%, -39%) rotate(315deg);
}

.player-earth #player_samurai {
  transform: translate(83%, -39%) rotate(135deg);
}

.opponent-heaven #opponent_samurai {
  transform: translate(-82%, -61%) rotate(135deg);
}

.opponent-earth #opponent_samurai {
  transform: translate(-82%, -61%) rotate(315deg);
}

#discard_icon, #special_icon {
  width: 30%;
  position: absolute;
  top: -40%;
  left: -6.4%;
}

#discard_icon {
  display: none;
}

.approach-opponent-discarded #discard_icon {
  transform: translate(0%);
  display: block;
}

.charge-opponent-discarded #discard_icon {
  transform: translate(55%);
  display: block;
}

.high-strike-opponent-discarded #discard_icon {
  transform: translate(110%);
  display: block;
}

.low-strike-opponent-discarded #discard_icon {
  transform: translate(165%);
  display: block;
}

.balance-strike-opponent-discarded #discard_icon {
  transform: translate(220%);
  display: block;
}

.approach-player-discarded #player-hand_0::after,
.charge-player-discarded #player-hand_1::after,
.high-strike-player-discarded #player-hand_2::after,
.low-strike-player-discarded #player-hand_3::after,
.balance-strike-player-discarded #player-hand_4::after,
.approach-opponent-discarded #opponent-hand_0::after,
.charge-opponent-discarded #opponent-hand_1::after,
.high-strike-opponent-discarded #opponent-hand_2::after,
.low-strike-opponent-discarded #opponent-hand_3::after,
.balance-strike-opponent-discarded #opponent-hand_4::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
}

#special_icon {
  transform: translate(275%);
  display: block;
}

.selection-border {
  --borderWidth: 3px;
  --borderRadius: 15px;
  --duration: 5s;
  --gradient: radial-gradient(circle, rgba(87, 181, 36, 0.417) 0%, rgb(172, 255, 127) 100%);
  width: 100%;
  height: 100%;
  border-radius: var(--borderRadius);
  mask: linear-gradient(#fff, #fff) top, linear-gradient(#fff, #fff) bottom, linear-gradient(#fff, #fff) left, linear-gradient(#fff, #fff) right;
  mask-size: 100% var(--borderWidth), 100% var(--borderWidth), var(--borderWidth) 100%, var(--borderWidth) 100%;
  mask-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.selection-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: var(--gradient);
  border-radius: calc(2 * var(--borderRadius));
  animation: selection-border-anim var(--duration) ease-in-out infinite;
  background-size: 200% 200%;
}

@keyframes selection-border-anim {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.approach-played #player-hand_0 .selection-border {
  display: block;
  height: 50%;
}

.charge-played #player-hand_1 .selection-border {
  display: block;
  height: 50%;
}

.high-strike-played #player-hand_2 .selection-border {
  display: block;
}

.low-strike-played #player-hand_3 .selection-border {
  display: block;
}

.balance-strike-played #player-hand_4 .selection-border {
  display: block;
}

.special-played #player-hand_5 .selection-border {
  display: block;
}

.retreat-played #player-hand_0 .selection-border {
  display: block;
  height: 50%;
  top: 50%;
}

.change-stance-played #player-hand_1 .selection-border {
  display: block;
  height: 50%;
  top: 50%;
}
