@charset "UTF-8";
/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * KiriaiTheDuel implementation : © Nevin Foster nevin.foster2@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */
html {
  background: #313433;
}

#background-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.background-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75%;
}

.background-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
}

.background-top-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

#game-area-margin {
  margin: 0px 1%;
}

#game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  user-select: none;
  aspect-ratio: 1110/810;
  max-height: calc(95vh - 170px);
  margin: 10px auto;
  overflow: hidden;
}

#play-area {
  flex: 2;
  width: 100%;
  position: relative;
  z-index: 1;
}

#hands {
  flex: 1;
  width: 100%;
  position: relative;
}

.hand-area {
  position: absolute;
  bottom: 5%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 86%;
}

#player-area {
  width: 100%;
  left: 0;
  right: 0;
}

#opponent-area {
  z-index: 2;
  width: 89.3%;
  right: 0;
  transform: translate(0, 110%);
  transition: 500ms;
}

.show-opponent-area #opponent-area {
  transform: translate(0%, 0%);
}

.hand-area > div {
  position: relative;
}

/* #endregion */
/* #region Cards */
.cardslot {
  position: absolute;
  aspect-ratio: 185/270;
  pointer-events: all;
}

.cardslot::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  transition: 100ms;
}

.cardslot > img, .cardslot > object, .tooltip-img > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cardslot:hover::after {
  background-color: rgba(255, 255, 255, 0.1);
}

.cardslot.attack-stance-bad {
  filter: brightness(0.8);
}

.highlight::after {
  background-color: slategray;
  cursor: pointer;
}

/* #endregion */
/* #region Tooltips */
.tooltip-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tooltip-container {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tooltip-tag {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.tooltip-type-move {
  background-color: #3c94bf;
}

.tooltip-type-attack {
  background-color: #bf3c3c;
}

.tooltip-type-special {
  background-color: #bfb63c;
}

.tooltip-desc {
  text-align: center;
}

.tooltip-img {
  position: relative;
  overflow: hidden;
  width: 75px;
  aspect-ratio: 0.6428571429;
}

.hand-icons, .hand-icons > img {
  position: absolute;
}

#player_played_0 p,
#player_played_1 p,
#opponent_played_0 p,
#opponent_played_1 p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, URW Palladio L, Nimbus Roman No9 L, serif;
  font-weight: bold;
}

#player_played_0,
#player_played_1,
#opponent_played_0,
#opponent_played_1 {
  background: color-mix(in srgb, currentColor 20%, transparent);
  border-color: black;
  border-radius: 5%;
  border-style: solid;
  border-width: 2px;
  height: 47%;
  transition: 400ms transform;
}

#player_played_0 {
  top: 2%;
  right: 1%;
  color: var(--player-color);
}

#player_played_1 {
  bottom: 1.5%;
  right: 1%;
  color: var(--player-color);
}

#opponent_played_0 {
  top: 2%;
  left: 1%;
  color: var(--opponent-color);
}

#opponent_played_1 {
  bottom: 1.5%;
  left: 1%;
  color: var(--opponent-color);
}

#battlefield {
  height: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
}

#battlefield.cardslot::after {
  display: none;
}

.battlefield_position {
  position: absolute;
  width: 14.6%;
  height: 10%;
  left: 0;
  right: 0;
  margin: auto;
  rotate: 45deg;
  z-index: 2;
}

.battlefield_position.highlight {
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: all;
}

.battlefield_position.highlight:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.battlefield_position.player_highlight {
  background-color: var(--player-color);
  filter: opacity(0.8);
}

.battlefield_position.opponent_highlight {
  background-color: var(--opponent-color);
  filter: opacity(0.8);
}

.battlefield_position.player_highlight.opponent_highlight {
  background-color: rgba(255, 243, 64, 0.5019607843);
}

.standard-battlefield #battlefield_position_1 {
  top: 70.632%;
}

.standard-battlefield #battlefield_position_2 {
  top: 57.827%;
}

.standard-battlefield #battlefield_position_3 {
  top: 45%;
}

.standard-battlefield #battlefield_position_4 {
  top: 32.216%;
}

.standard-battlefield #battlefield_position_5 {
  top: 19.418%;
}

.standard-battlefield #battlefield_position_6 {
  display: hidden;
}

.standard-battlefield #battlefield_position_7 {
  display: hidden;
}

.standard-battlefield #battlefield_position_0 {
  display: hidden;
}

.standard-battlefield #battlefield_position_8 {
  display: hidden;
}

.advanced-battlefield #battlefield_position_1 {
  top: 83.372%;
}

.advanced-battlefield #battlefield_position_2 {
  top: 70.557%;
}

.advanced-battlefield #battlefield_position_3 {
  top: 57.773%;
}

.advanced-battlefield #battlefield_position_4 {
  top: 45%;
}

.advanced-battlefield #battlefield_position_5 {
  top: 32.175%;
}

.advanced-battlefield #battlefield_position_6 {
  top: 19.376%;
}

.advanced-battlefield #battlefield_position_7 {
  top: 6.577%;
}

.advanced-battlefield #battlefield_position_0 {
  right: -135%;
  top: 57.773%;
  display: hidden;
}

.advanced-battlefield #battlefield_position_8 {
  left: -135%;
  top: 32.175%;
  display: hidden;
}

.opponent_hand_icon {
  width: 10%;
}

.opponent_hand_icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  margin: auto;
  rotate: -90deg;
}

.opponent_hand_icon p {
  position: absolute;
  color: white;
  font-size: 100%;
  pointer-events: none;
  top: 10%;
  height: 80%;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  writing-mode: vertical-rl;
  scale: -1;
  right: 5%;
  font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, URW Palladio L, Nimbus Roman No9 L, serif;
}

.rotating {
  transition: 750ms rotate;
}

#player_samurai {
  translate: 42.5% -31.7%;
  height: 50%;
}

#opponent_samurai {
  translate: -122% -54%;
  height: 50%;
}

#player_samurai.loser {
  filter: grayscale(90%);
}

#opponent_samurai.loser {
  filter: grayscale(90%);
}

.player-heaven #player_samurai {
  rotate: 315deg;
}

.player-earth #player_samurai {
  rotate: 135deg;
}

.opponent-heaven #opponent_samurai {
  rotate: 135deg;
}

.opponent-earth #opponent_samurai {
  rotate: 315deg;
}

#discard_icon, #special_icon {
  width: 6%;
  position: absolute;
  top: -13%;
  left: -4.5%;
}

#discard_icon {
  display: none;
}

.approach-opponent-discarded #discard_icon {
  left: 14.6%;
  display: block;
}

.charge-opponent-discarded #discard_icon {
  left: 29.3%;
  display: block;
}

.high-strike-opponent-discarded #discard_icon {
  left: 44.6%;
  display: block;
}

.low-strike-opponent-discarded #discard_icon {
  left: 59.5%;
  display: block;
}

.balance-strike-opponent-discarded #discard_icon {
  left: 74.6%;
  display: block;
}

#special_icon {
  left: 89.6%;
}

.approach-player-discarded #player-hand_0::after,
.charge-player-discarded #player-hand_1::after,
.high-strike-player-discarded #player-hand_2::after,
.low-strike-player-discarded #player-hand_3::after,
.balance-strike-player-discarded #player-hand_4::after,
.approach-opponent-discarded #opponent-hand_0::after,
.charge-opponent-discarded #opponent-hand_1::after,
.high-strike-opponent-discarded #opponent-hand_2::after,
.low-strike-opponent-discarded #opponent-hand_3::after,
.balance-strike-opponent-discarded #opponent-hand_4::after,
.player-played-special #player-hand_5::after,
.opponent-played-special #opponent-hand_5::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.selection-border {
  --borderRadius: 5%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  border-radius: var(--borderRadius);
  color: lch(from var(--player-color) calc(l + 10) c h);
  z-index: 2;
  box-shadow: currentColor 0 0 8px 6px;
  animation: selection-border-anim 1.5s infinite;
}

#opponent-area .selection-border,
#opponent_played_0 .selection-border,
#opponent_played_1 .selection-border {
  color: lch(from var(--opponent-color) calc(l + 10) c h);
}

@keyframes selection-border-anim {
  0% {
    box-shadow: currentColor 0 0 8px 6px;
  }
  50% {
    box-shadow: currentColor 0 0 8px 4px;
  }
  100% {
    box-shadow: currentColor 0 0 8px 6px;
  }
}
#player_played_0.evaluating, #player_played_1.evaluating {
  transform: translateX(-10%);
}

#opponent_played_0.evaluating, #opponent_played_1.evaluating {
  transform: translateX(10%);
}

.approach-player-played-first #player-hand_0 .selection-border,
.approach-player-played-second #player-hand_0 .selection-border,
.approach-player-played-first #player_played_0 .selection-border,
.approach-player-played-second #player_played_1 .selection-border,
.retreat-opponent-played-first #opponent_played_0 .selection-border,
.retreat-opponent-played-second #opponent_played_1 .selection-border {
  display: block;
  height: 50%;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.charge-player-played-first #player-hand_1 .selection-border,
.charge-player-played-second #player-hand_1 .selection-border,
.charge-player-played-first #player_played_0 .selection-border,
.charge-player-played-second #player_played_1 .selection-border,
.charge-opponent-played-first #opponent_played_0 .selection-border,
.charge-opponent-played-second #opponent_played_1 .selection-border {
  display: block;
  height: 50%;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

.high-strike-player-played-first #player-hand_2 .selection-border,
.high-strike-player-played-second #player-hand_2 .selection-border {
  display: block;
}

.low-strike-player-played-first #player-hand_3 .selection-border,
.low-strike-player-played-second #player-hand_3 .selection-border {
  display: block;
}

.balance-strike-player-played-first #player-hand_4 .selection-border,
.balance-strike-player-played-second #player-hand_4 .selection-border {
  display: block;
}

.special-player-played-first #player-hand_5 .selection-border,
.special-player-played-second #player-hand_5 .selection-border {
  display: block;
}

.retreat-player-played-first #player-hand_0 .selection-border,
.retreat-player-played-second #player-hand_0 .selection-border,
.retreat-player-played-first #player_played_0 .selection-border,
.retreat-player-played-second #player_played_1 .selection-border,
.approach-opponent-played-first #opponent_played_0 .selection-border,
.approach-opponent-played-second #opponent_played_1 .selection-border {
  display: block;
  height: 50%;
  top: 50%;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.change-stance-player-played-first #player-hand_1 .selection-border,
.change-stance-player-played-second #player-hand_1 .selection-border,
.change-stance-player-played-first #player_played_0 .selection-border,
.change-stance-player-played-second #player_played_1 .selection-border,
.change-stance-opponent-played-first #opponent_played_0 .selection-border,
.change-stance-opponent-played-second #opponent_played_1 .selection-border {
  display: block;
  height: 50%;
  top: 50%;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.slash-effect {
  background: url("img/slash-sprite-sheet.png") no-repeat;
  background-size: 100% 1500%;
  height: 3%;
  aspect-ratio: 754/78;
  position: absolute;
  background-position-y: -100%;
}

.slash-effect.miss {
  filter: saturate(0);
}

.slash-effect-anim-player-high-strike {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(105deg) translateX(-20%);
}

.slash-effect-anim-opponent-high-strike {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(285deg) translateX(-20%);
}

.slash-effect-anim-player-low-strike {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(240deg) translateX(-20%);
}

.slash-effect-anim-opponent-low-strike {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(60deg) translateX(-20%);
}

.slash-effect-anim-player-balance-strike {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(180deg) translateX(-20%);
}

.slash-effect-anim-opponent-balance-strike {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(0deg) translateX(-20%);
}

.slash-effect-anim-player-kesa-0 {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(135deg) translateX(-20%);
}

.slash-effect-anim-player-kesa-1 {
  animation: slash-effect-anim 1s steps(14);
  animation-delay: 500ms;
  transform: rotate(285deg) translateX(-20%);
}

.slash-effect-anim-opponent-kesa-0 {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(315deg) translateX(-20%);
}

.slash-effect-anim-opponent-kesa-1 {
  animation: slash-effect-anim 1s steps(14);
  animation-delay: 500ms;
  transform: rotate(105deg) translateX(-20%);
}

.slash-effect-anim-player-zantetsu-0 {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(135deg) translateX(-20%);
}

.slash-effect-anim-player-zantetsu-1 {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(225deg) translateX(-20%);
}

.slash-effect-anim-opponent-zantetsu-0 {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(315deg) translateX(-20%);
}

.slash-effect-anim-opponent-zantetsu-1 {
  animation: slash-effect-anim 1s steps(14);
  transform: rotate(45deg) translateX(-20%);
}

.slash-effect-anim-player-counter,
.slash-effect-anim-opponent-counter {
  background: url("img/counter-sprite-sheet-15.png") no-repeat;
  background-size: 1500% 100%;
  height: 50%;
  aspect-ratio: 327/531;
  background-position-y: 0%;
  background-position-x: -100%;
  animation: counter-effect-anim 1s steps(14);
}

.slash-effect-anim-opponent-counter {
  transform: scale(-1, -1);
}

@keyframes slash-effect-anim {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}
@keyframes counter-effect-anim {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
